.container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row: 1px;
}
.item{
	background-color: cyan;
	font-size: xx-large;
	text-align: center;
	padding: 20px;
	border:2px solid rgba(0,0,128,0.8);
}